MONGO_URI=mongodb+srv://<db_username>:<db_password>@production.florode.mongodb.net/console
JWT_SECRET=change-me-to-a-long-random-string
APP_URL=http://localhost:3000
PORT=8080
ENVIRONMENT=development
